@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --azul:  #000000;
    --azul-escuro:#454545;
    --preto: #444;
    --claro:#666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid #444;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /*text-transform: capitalize;*/
    transition: all .2s linear;
    transition: width none;
}



.dropdown-menu .dropdown-item{
    background: #5254a1;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--preto);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .7rem;
    color:#fff;
    background: var(--azul);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--azul-escuro);
}

a{
    text-decoration: none;
}

.headerr .headerr-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerr .headerr-1 .logoo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--preto);
}

.headerr .headerr-1 .logoo i{
    color: var(--azul);
}

.headerr .headerr-1 .search-formm{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .7rem;
}

.headerr .headerr-1 .search-formm input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--preto);

}

.headerr .headerr-1 .search-formm label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--preto);
    cursor: pointer;
}

.headerr .headerr-1 .search-formm label:hover{
    color: var(--azul);
}

.headerr .headerr-1 .iconss div,
.headerr .headerr-1 .iconss a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--preto);
    cursor: pointer;
}

.headerr .headerr-1 .iconss div:hover,
.headerr .headerr-1 .iconss a:hover{
    color: var(--azul);
}

#search-btn{
    display: none;
}

.headerr .headerr-2{
    background: var(--azul);
}

.headerr .headerr-2 .navbarr{
    text-align: center;
}

.headerr .headerr-2 .navbarr a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.headerr .headerr-2 .navbarr a:hover{
    background: var(--azul-escuro);
}

.headerr .headerr-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}




.bottom-navbarr{
    text-align: center;
    background: var(--azul);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbarr a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbarr a:hover{
    background: var(--azul-escuro);
}


.card-text{
    font-size: 1.4rem;
    
    
}

.card-title{
    font-size: 1.6rem;
    font-weight: bold;
}

.btnn{
    font-size: 1.5rem;
}

.btnn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .7rem;
    color:#fff;
    background: var(--azul);
    font-size: 1.7rem;
    cursor: pointer;
}

.btnn:hover{
    background: var(--azul-escuro);
   
}




.search-box{
    position:absolute;
    background: #767676;
    border-radius: 40px;
    padding: 10px;
    border: 2px #000000
}

.search-btn{
    color: rgb(0, 0, 0);
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float:left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition: 0.5;
    line-height: 20px;
    
}


.buscar{
    margin-bottom: 100px;
}


    .nav-tabs{border-bottom:1px solid #d2d2d2}

    
  #banner{
    border-radius: 20px;
  }

    .form-check-input{
        border-radius:6.25rem
    }
    
    .form-switch-right{
        position:relative;
        width:100%;
        margin:0;
        padding-left:0;
        padding-right:3.5rem
    }
    
    .form-switch-right:hover .form-check-label{
        opacity:0.75
    }
    .form-switch-right .form-check-label{
        transition:all .2s;
        transition-delay:0s;
        width:100%;opacity:0.5;
        cursor:pointer
    }
    
    .form-switch-right .form-check-input{
        position:absolute;
        right:0;cursor:pointer
    }
    
    .form-switch-right .form-check-input:checked ~ .form-check-label{
        opacity:1
    }
    
    .form-check-minimal{
        padding:0
    }
    
    .form-check-minimal .form-check-input{
        display:none
    }
    
    .form-check-minimal .form-check-input:checked ~ .form-check-label{
        padding-left:.5rem;
        padding-right:2.5rem;border-color:#ddd
    }
    
    .form-check-minimal .form-check-input:checked ~ .form-check-label::before{
        opacity:1
    }
    
    .form-check-minimal .form-check-label{
        display:inline-flex;
        position:relative;
        transition:all 0.2s;
        cursor:pointer;
        padding:.25rem .5rem .25rem 0;
        line-height:1.5rem;
        border:1px solid transparent
    }
    
    .form-check-minimal .form-check-label::before{
        transition:all 0.2s;
        position:absolute;
        top:0;right:0;
        width:2rem;
        height:2rem;
        line-height:2rem;
        font-family:bootstrap-icons !important;
        font-size:1rem;
        text-align:center;
        content:"\f62a";background:#ddd;opacity:0
    }
    
  
    .form-check-minimal .form-check-label:hover{
        color:#b48979;
    }
    
    .form-check-color{
        padding:0
    }
    
    .form-check-color .form-check-input{
        display:none
    }
    
    .form-check-color .form-check-input:checked ~ .form-check-label{
        padding-left:.5rem;padding-right:2.5rem;
        border-color:#ddd
    }
    
    .form-check-color .form-check-input:checked ~ .form-check-label::before{
        opacity:1
    }
    
    .form-check-color .form-check-label{
        display:inline-flex;
        align-items:center;
        position:relative;
        transition:all 0.2s;
        cursor:pointer;
        padding:.25rem .5rem .25rem 0;
        line-height:1.5rem;
        border:1px solid transparent
    }
    
    .form-check-color .form-check-label::before{
        transition:all 0.2s;position:absolute;
        top:0;
        right:0;
        content:"";
        width:2rem;
        height:2rem;
        line-height:2rem;
        font-family:bootstrap-icons !important;
        font-size:1rem;
        text-align:center;
        content:"\f62a";background:#ddd;opacity:0
    }
    
    .form-check-color .form-check-label:hover{
        color:#5c5c5c;
    }

    .checkbox {
        position: relative;
        top: -0.375rem;
        margin: 0 1rem 0 0;
        cursor: pointer;
      }
      .checkbox:before {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 1rem;
        height: 1rem;
        border: 2px solid #636363
      }

      .checkbox:checked:before {-webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
       height: .5rem;
        border-color: #000000;
        border-top-style: none;
        border-right-style: none;
      }
      .checkbox:after {
        content: "";
        position: absolute;
        top: -0.125rem;
        left: 0;
        width: 1.1rem;
        height: 1.1rem;
        background: #ffffff;
        cursor: pointer;
      }


      /* media queries */
@media(max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

}

@media(max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .headerr .headerr-2{
        display: none;
    }

    .bottom-navbarr{
        display: inline-block;
    }

    #search-btn{
        display: inline-block;
    }

    .headerr .headerr-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .headerr .headerr-1 .search-formm{
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .headerr .headerr-1 .search-formm.active{
        top: 115%;
    }

}

@media(max-width:450px){

    html{
        font-size: 50%;
    }
}



